/* FoodEcosystemMapping.module.css */
:local(.container) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

:local(.formControl) {
  margin: 10px 0;
  width: 100%;
  max-width: 400px;
}

:local(.mapContainer) {
  height: 500px;
  width: 100%;
  margin: 20px 0;
}

:local(.overlayControl) {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

:local(.overlayControlFormControl) {
  margin: 0 10px;
}

:local(.buttonsContainer) {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

:local(.buttonPrimary) {
  background: linear-gradient(45deg, #66bb6a, #388e3c);
  color: white;
}

:local(.buttonSecondary) {
  background: linear-gradient(45deg, #ff7043, #d84315);
  color: white;
}

:local(.buttonDefault) {
  background: linear-gradient(45deg, #29b6f6, #0288d1);
  color: white;
}